/*IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');
/*GENERAL*/
body{
    font-family: 'Open Sans', sans-serif;
}
.navBar{
    display: ruby;
}
.links{
    padding-left: 50%;
}
    .link{
        border-right-width: auto;
        border-left-width: 20px;
        border-left-style: solid;
        border-color: #00cef5;
        color: black;
    }
.contenido{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 10%;
}
    .concierto{
        padding-right: 4%;
        padding-left: auto;
        padding-top: auto;
        padding-bottom: auto;
        display: grid;
        justify-content: center;
    }
.conteiner{
    background-color: #00cef5;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
input{
    margin-top: 6%;
    border-radius: 0.4rem;
}
label{
    margin-top: 6%;
    border-radius: 0.5rem;
}
select{
    margin-top: 6%;
    background-color: #fdfd96;
}
button{
    border-radius: 0.5rem;
    background-color: #fdfd96;
}
h1{
    font-size: 1.8rem;
}
.tiket{
    display: flex;
    justify-content: center;
    background-color: #00cef5;
    border-radius: 1rem;
    height: 500px;
    width: 290px;
    margin-right: 5%;
}
.boleto{
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }
tr{
    height: 80.6px;
}
input{
    background-color: #fdfd96;

}
form{
    background: #ff85d5;
    width: 255.017px;
    padding-left: 23%;
    height: 490.1px;
    border-radius: 1rem;
}